<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HockeySDK.Core" version="2.2.3" targetFramework="net45" />
  <package id="HockeySDK.WPF" version="2.2.3" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net45" />
  <package id="MultiSelectTreeView" version="1.0.7" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net45" />
  <package id="XamlAnimatedGif" version="1.0.9" targetFramework="net45" />
</packages>